<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.htm" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".*" mimeType="text/plain" />
        </staticContent>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".js" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <rule name="api proxy rule" stopProcessing="true">
                    <match url="^api/(.*)$" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="samsungappslab.vtsnis.edu.rs" />
                    </conditions>
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                </rule>
                <rule name="senzori" stopProcessing="true">
                    <match url="^sen/(.*)$" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="samsungappslab.vtsnis.edu.rs" />
                    </conditions>
                    <action type="Rewrite" url="http://localhost:3500/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
